body {
    color: #707070;
    font-family: Open Sans, Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 74%;
}


/*style hero*/

.hero {
    background: #3AACC6;
    color: white;
    padding: 6rem 0 2rem 0;
}

.hero__title {
    text-transform: uppercase;
    line-height: 2rem;
    margin: 2rem 0;
    font-size: 24px;
    font-weight: 700;
}

.hero__description {
    font-size: 23px;
    line-height: 34px;
}


/*review*/

.review {
    text-align: center;
    margin: 3rem 0;
}

.review__title {
    color: #3AACC6;
    font-size: 30px;
    margin-bottom: 1rem;
}

.review__title:after {
    background: #3AACC6;
    display: block;
    height: 2px;
    content: '';
    margin: 10px auto;
    width: 100px;
    text-align: center;
}

.review__txt {
    line-height: 31px;
}


/*info-company*/

.info-company__empploye {
    display: table;
    margin-bottom: 50p;
    margin: 7% 0;
}

.info-company__icon {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
    text-align: center;
    line-height: 26px;
}

button {
    background: #3AACC6;
}

.button-selected {
    background-color: #3AACC6;
    border: 0px solid #047A94;
    border-color: #3AACC6;
    color: white;
    padding: 15px 32px;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.button-wrapper {
    margin: 0 auto;
    text-align: right;
    width: 900px;
}

.table__row--blue>.table__icon,
.table__row--blue>.table__percentage,
.table__row--blue>.table__dark,
.table__row--blue>.image {
    background: #3AACC6;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
}

.table__row--blue>.table__percentage {
    width: 110px;
}

.fa-search {
    position: absolute;
    right: 2px;
    background: #3AACC6;
    color: white;
    bottom: 3px;
    padding: 10px;
    font-size: 17px;
}

.main__title {
    text-align: center;
    color: #3AACC6;
    font-size: 40px;
    margin: 35px 0;
}

.search-button input {
    border: 2px solid #3AACC6;
    padding: 10px;
    width: 334px;
    font-size: 15px;
}

.search-button {
    float: right;
    position: relative;
    margin-bottom: 5px;
    margin: 24px 0;
}